.href {
    width: 80%;
    height: 80%;
}

div.card.cardGrid {
    float: left;
    padding: 7px;
    color: rgb(221, 159, 118);
    text-shadow: 1px 1px black;
    width: 25%;
    background-color: transparent;
    
}

