div.about {
    width: 100%;
    display: inline-block;
    color: rgb(203, 204, 166);
    text-shadow: 1px 1px black;
    background-color: transparent;
}

#profilePic {
    width: 20%;
    float: left;
    padding: 10px;
}